<html>
<header>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_cal.css') }}">
</header>
<body>
  <a href="/download_pdf" download="webpage.pdf">Télécharger au format PDF</a>
    <table class="responsive-table">
      <caption>Calendrier</caption>
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"  colspan="4">Lundi</th>
          <th scope="col"  colspan="4">Mardi</th>
          <th scope="col"  colspan="4">Mercredi</th>
          <th scope="col"  colspan="4">Jeudi</th>
          <th scope="col"  colspan="4">Vendredi</th>
          <th scope="col"  colspan="2">Samedi</th>
        </tr>
        <tr>
            <th scope="col"></th>
            <th scope="col">09h00 10h30</th>
            <th scope="col">11h00 12h30</th>
            <th scope="col">15h00 16h30</th>
            <th scope="col">17h00 18h30</th>
            <th scope="col">09h00 10h30</th>
            <th scope="col">11h00 12h30</th>
            <th scope="col">15h00 16h30</th>
            <th scope="col">17h00 18h30</th>
            <th scope="col">09h00 10h30</th>
            <th scope="col">11h00 12h30</th>
            <th scope="col">15h00 16h30</th>
            <th scope="col">17h00 18h30</th>
            <th scope="col">09h00 10h30</th>
            <th scope="col">11h00 12h30</th>
            <th scope="col">15h00 16h30</th>
            <th scope="col">17h00 18h30</th>
            <th scope="col">09h00 10h30</th>
            <th scope="col">11h00 12h30</th>
            <th scope="col">15h00 16h30</th>
            <th scope="col">17h00 18h30</th>
            <th scope="col">09h00 10h30</th>
            <th scope="col">11h00 12h30</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Salle C301</th>
          <td >{%if data['Lundi-0']['C301'] %} {{data['Lundi-0']['C301']['morning']}}, {{data['Lundi-0']['C301']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Lundi-0']['C301'] %} {{data['Lundi-0']['C301']['noon']}}, {{data['Lundi-0']['C301']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Lundi-1']['C301'] %} {{data['Lundi-1']['C301']['morning']}}, {{data['Lundi-1']['C301']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Lundi-1']['C301'] %} {{data['Lundi-1']['C301']['noon']}}, {{data['Lundi-1']['C301']['invig_noon']}} {% endif %}</td>
          
          <td >{%if data['Mardi-0']['C301'] %} {{data['Mardi-0']['C301']['morning']}}, {{data['Mardi-0']['C301']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mardi-0']['C301'] %} {{data['Mardi-0']['C301']['noon']}}, {{data['Mardi-0']['C301']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Mardi-1']['C301'] %} {{data['Mardi-1']['C301']['morning']}}, {{data['Mardi-1']['C301']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mardi-1']['C301'] %} {{data['Mardi-1']['C301']['noon']}}, {{data['Mardi-1']['C301']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Mercredi-0']['C301'] %} {{data['Mercredi-0']['C301']['morning']}}, {{data['Mercredi-0']['C301']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mercredi-0']['C301'] %} {{data['Mercredi-0']['C301']['noon']}}, {{data['Mercredi-0']['C301']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Mercredi-1']['C301'] %} {{data['Mercredi-1']['C301']['morning']}}, {{data['Mercredi-1']['C301']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mercredi-1']['C301'] %} {{data['Mercredi-1']['C301']['noon']}}, {{data['Mercredi-1']['C301']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Jeudi-0']['C301'] %} {{data['Jeudi-0']['C301']['morning']}}, {{data['Jeudi-0']['C301']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Jeudi-0']['C301'] %} {{data['Jeudi-0']['C301']['noon']}}, {{data['Jeudi-0']['C301']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Jeudi-1']['C301'] %} {{data['Jeudi-1']['C301']['morning']}}, {{data['Jeudi-1']['C301']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Jeudi-1']['C301'] %} {{data['Jeudi-1']['C301']['noon']}}, {{data['Jeudi-1']['C301']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Vendredi-0']['C301'] %} {{data['Vendredi-0']['C301']['morning']}}, {{data['Vendredi-0']['C301']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Vendredi-0']['C301'] %} {{data['Vendredi-0']['C301']['noon']}}, {{data['Vendredi-0']['C301']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Vendredi-1']['C301'] %} {{data['Vendredi-1']['C301']['morning']}}, {{data['Vendredi-1']['C301']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Vendredi-1']['C301'] %} {{data['Vendredi-1']['C301']['noon']}}, {{data['Vendredi-1']['C301']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Samedi-0']['C301'] %} {{data['Samedi-0']['C301']['morning']}}, {{data['Samedi-0']['C301']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Samedi-0']['C301'] %} {{data['Samedi-0']['C301']['noon']}}, {{data['Samedi-0']['C301']['invig_noon']}} {% endif %}</td>
        </tr>


        <tr>
          <th scope="row">Salle C302</th>
          <td >{%if data['Lundi-0']['C302'] %} {{data['Lundi-0']['C302']['morning']}}, {{data['Lundi-0']['C302']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Lundi-0']['C302'] %} {{data['Lundi-0']['C302']['noon']}}, {{data['Lundi-0']['C302']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Lundi-1']['C302'] %} {{data['Lundi-1']['C302']['morning']}}, {{data['Lundi-1']['C302']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Lundi-1']['C302'] %} {{data['Lundi-1']['C302']['noon']}}, {{data['Lundi-1']['C302']['invig_noon']}} {% endif %}</td>
          
          <td >{%if data['Mardi-0']['C302'] %} {{data['Mardi-0']['C302']['morning']}}, {{data['Mardi-0']['C302']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mardi-0']['C302'] %} {{data['Mardi-0']['C302']['noon']}}, {{data['Mardi-0']['C302']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Mardi-1']['C302'] %} {{data['Mardi-1']['C302']['morning']}}, {{data['Mardi-1']['C302']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mardi-1']['C302'] %} {{data['Mardi-1']['C302']['noon']}}, {{data['Mardi-1']['C302']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Mercredi-0']['C302'] %} {{data['Mercredi-0']['C302']['morning']}}, {{data['Mercredi-0']['C302']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mercredi-0']['C302'] %} {{data['Mercredi-0']['C302']['noon']}}, {{data['Mercredi-0']['C302']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Mercredi-1']['C302'] %} {{data['Mercredi-1']['C302']['morning']}}, {{data['Mercredi-1']['C302']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mercredi-1']['C302'] %} {{data['Mercredi-1']['C302']['noon']}}, {{data['Mercredi-1']['C302']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Jeudi-0']['C302'] %} {{data['Jeudi-0']['C302']['morning']}}, {{data['Jeudi-0']['C302']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Jeudi-0']['C302'] %} {{data['Jeudi-0']['C302']['noon']}}, {{data['Jeudi-0']['C302']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Jeudi-1']['C302'] %} {{data['Jeudi-1']['C302']['morning']}}, {{data['Jeudi-1']['C302']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Jeudi-1']['C302'] %} {{data['Jeudi-1']['C302']['noon']}}, {{data['Jeudi-1']['C302']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Vendredi-0']['C302'] %} {{data['Vendredi-0']['C302']['morning']}}, {{data['Vendredi-0']['C302']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Vendredi-0']['C302'] %} {{data['Vendredi-0']['C302']['noon']}}, {{data['Vendredi-0']['C302']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Vendredi-1']['C302'] %} {{data['Vendredi-1']['C302']['morning']}}, {{data['Vendredi-1']['C302']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Vendredi-1']['C302'] %} {{data['Vendredi-1']['C302']['noon']}}, {{data['Vendredi-1']['C302']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Samedi-0']['C302'] %} {{data['Samedi-0']['C302']['morning']}}, {{data['Samedi-0']['C302']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Samedi-0']['C302'] %} {{data['Samedi-0']['C302']['noon']}}, {{data['Samedi-0']['C302']['invig_noon']}} {% endif %}</td>
        </tr>

        <tr>
          <th scope="row">Salle C303</th>
          <td >{%if data['Lundi-0']['C303'] %} {{data['Lundi-0']['C303']['morning']}}, {{data['Lundi-0']['C303']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Lundi-0']['C303'] %} {{data['Lundi-0']['C303']['noon']}}, {{data['Lundi-0']['C303']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Lundi-1']['C303'] %} {{data['Lundi-1']['C303']['morning']}}, {{data['Lundi-1']['C303']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Lundi-1']['C303'] %} {{data['Lundi-1']['C303']['noon']}}, {{data['Lundi-1']['C303']['invig_noon']}} {% endif %}</td>
          
          <td >{%if data['Mardi-0']['C303'] %} {{data['Mardi-0']['C303']['morning']}}, {{data['Mardi-0']['C303']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mardi-0']['C303'] %} {{data['Mardi-0']['C303']['noon']}}, {{data['Mardi-0']['C303']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Mardi-1']['C303'] %} {{data['Mardi-1']['C303']['morning']}}, {{data['Mardi-1']['C303']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mardi-1']['C303'] %} {{data['Mardi-1']['C303']['noon']}}, {{data['Mardi-1']['C303']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Mercredi-0']['C303'] %} {{data['Mercredi-0']['C303']['morning']}}, {{data['Mercredi-0']['C303']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mercredi-0']['C303'] %} {{data['Mercredi-0']['C303']['noon']}}, {{data['Mercredi-0']['C303']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Mercredi-1']['C303'] %} {{data['Mercredi-1']['C303']['morning']}}, {{data['Mercredi-1']['C303']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mercredi-1']['C303'] %} {{data['Mercredi-1']['C303']['noon']}}, {{data['Mercredi-1']['C303']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Jeudi-0']['C303'] %} {{data['Jeudi-0']['C303']['morning']}}, {{data['Jeudi-0']['C303']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Jeudi-0']['C303'] %} {{data['Jeudi-0']['C303']['noon']}}, {{data['Jeudi-0']['C303']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Jeudi-1']['C303'] %} {{data['Jeudi-1']['C303']['morning']}}, {{data['Jeudi-1']['C303']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Jeudi-1']['C303'] %} {{data['Jeudi-1']['C303']['noon']}}, {{data['Jeudi-1']['C303']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Vendredi-0']['C303'] %} {{data['Vendredi-0']['C303']['morning']}}, {{data['Vendredi-0']['C303']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Vendredi-0']['C303'] %} {{data['Vendredi-0']['C303']['noon']}}, {{data['Vendredi-0']['C303']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Vendredi-1']['C303'] %} {{data['Vendredi-1']['C303']['morning']}}, {{data['Vendredi-1']['C303']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Vendredi-1']['C303'] %} {{data['Vendredi-1']['C303']['noon']}}, {{data['Vendredi-1']['C303']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Samedi-0']['C303'] %} {{data['Samedi-0']['C303']['morning']}}, {{data['Samedi-0']['C303']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Samedi-0']['C303'] %} {{data['Samedi-0']['C303']['noon']}}, {{data['Samedi-0']['C303']['invig_noon']}} {% endif %}</td>
        </tr>


        <tr>
          <th scope="row">Salle C304</th>
          <td >{%if data['Lundi-0']['C304'] %} {{data['Lundi-0']['C304']['morning']}}, {{data['Lundi-0']['C304']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Lundi-0']['C304'] %} {{data['Lundi-0']['C304']['noon']}}, {{data['Lundi-0']['C304']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Lundi-1']['C304'] %} {{data['Lundi-1']['C304']['morning']}}, {{data['Lundi-1']['C304']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Lundi-1']['C304'] %} {{data['Lundi-1']['C304']['noon']}}, {{data['Lundi-1']['C304']['invig_noon']}} {% endif %}</td>
          
          <td >{%if data['Mardi-0']['C304'] %} {{data['Mardi-0']['C304']['morning']}}, {{data['Mardi-0']['C304']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mardi-0']['C304'] %} {{data['Mardi-0']['C304']['noon']}}, {{data['Mardi-0']['C304']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Mardi-1']['C304'] %} {{data['Mardi-1']['C304']['morning']}}, {{data['Mardi-1']['C304']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mardi-1']['C304'] %} {{data['Mardi-1']['C304']['noon']}}, {{data['Mardi-1']['C304']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Mercredi-0']['C304'] %} {{data['Mercredi-0']['C304']['morning']}}, {{data['Mercredi-0']['C304']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mercredi-0']['C304'] %} {{data['Mercredi-0']['C304']['noon']}}, {{data['Mercredi-0']['C304']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Mercredi-1']['C304'] %} {{data['Mercredi-1']['C304']['morning']}}, {{data['Mercredi-1']['C304']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mercredi-1']['C304'] %} {{data['Mercredi-1']['C304']['noon']}}, {{data['Mercredi-1']['C304']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Jeudi-0']['C304'] %} {{data['Jeudi-0']['C304']['morning']}}, {{data['Jeudi-0']['C304']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Jeudi-0']['C304'] %} {{data['Jeudi-0']['C304']['noon']}}, {{data['Jeudi-0']['C304']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Jeudi-1']['C304'] %} {{data['Jeudi-1']['C304']['morning']}}, {{data['Jeudi-1']['C304']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Jeudi-1']['C304'] %} {{data['Jeudi-1']['C304']['noon']}}, {{data['Jeudi-1']['C304']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Vendredi-0']['C304'] %} {{data['Vendredi-0']['C304']['morning']}}, {{data['Vendredi-0']['C304']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Vendredi-0']['C304'] %} {{data['Vendredi-0']['C304']['noon']}}, {{data['Vendredi-0']['C304']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Vendredi-1']['C304'] %} {{data['Vendredi-1']['C304']['morning']}}, {{data['Vendredi-1']['C304']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Vendredi-1']['C304'] %} {{data['Vendredi-1']['C304']['noon']}}, {{data['Vendredi-1']['C304']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Samedi-0']['C304'] %} {{data['Samedi-0']['C304']['morning']}}, {{data['Samedi-0']['C304']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Samedi-0']['C304'] %} {{data['Samedi-0']['C304']['noon']}}, {{data['Samedi-0']['C304']['invig_noon']}} {% endif %}</td>
        </tr>


        <tr>
          <th scope="row">Salle C305</th>
          <td >{%if data['Lundi-0']['C305'] %} {{data['Lundi-0']['C305']['morning']}}, {{data['Lundi-0']['C305']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Lundi-0']['C305'] %} {{data['Lundi-0']['C305']['noon']}}, {{data['Lundi-0']['C305']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Lundi-1']['C305'] %} {{data['Lundi-1']['C305']['morning']}}, {{data['Lundi-1']['C305']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Lundi-1']['C305'] %} {{data['Lundi-1']['C305']['noon']}}, {{data['Lundi-1']['C305']['invig_noon']}} {% endif %}</td>
          
          <td >{%if data['Mardi-0']['C305'] %} {{data['Mardi-0']['C305']['morning']}}, {{data['Mardi-0']['C305']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mardi-0']['C305'] %} {{data['Mardi-0']['C305']['noon']}}, {{data['Mardi-0']['C305']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Mardi-1']['C305'] %} {{data['Mardi-1']['C305']['morning']}}, {{data['Mardi-1']['C305']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mardi-1']['C305'] %} {{data['Mardi-1']['C305']['noon']}}, {{data['Mardi-1']['C305']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Mercredi-0']['C305'] %} {{data['Mercredi-0']['C305']['morning']}}, {{data['Mercredi-0']['C305']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mercredi-0']['C305'] %} {{data['Mercredi-0']['C305']['noon']}}, {{data['Mercredi-0']['C305']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Mercredi-1']['C305'] %} {{data['Mercredi-1']['C305']['morning']}}, {{data['Mercredi-1']['C305']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mercredi-1']['C305'] %} {{data['Mercredi-1']['C305']['noon']}}, {{data['Mercredi-1']['C305']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Jeudi-0']['C305'] %} {{data['Jeudi-0']['C305']['morning']}}, {{data['Jeudi-0']['C305']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Jeudi-0']['C305'] %} {{data['Jeudi-0']['C305']['noon']}}, {{data['Jeudi-0']['C305']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Jeudi-1']['C305'] %} {{data['Jeudi-1']['C305']['morning']}}, {{data['Jeudi-1']['C305']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Jeudi-1']['C305'] %} {{data['Jeudi-1']['C305']['noon']}}, {{data['Jeudi-1']['C305']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Vendredi-0']['C305'] %} {{data['Vendredi-0']['C305']['morning']}}, {{data['Vendredi-0']['C305']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Vendredi-0']['C305'] %} {{data['Vendredi-0']['C305']['noon']}}, {{data['Vendredi-0']['C305']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Vendredi-1']['C305'] %} {{data['Vendredi-1']['C305']['morning']}}, {{data['Vendredi-1']['C305']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Vendredi-1']['C305'] %} {{data['Vendredi-1']['C305']['noon']}}, {{data['Vendredi-1']['C305']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Samedi-0']['C305'] %} {{data['Samedi-0']['C305']['morning']}}, {{data['Samedi-0']['C305']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Samedi-0']['C305'] %} {{data['Samedi-0']['C305']['noon']}}, {{data['Samedi-0']['C305']['invig_noon']}} {% endif %}</td>
        </tr>


        <tr>
          <th scope="row">Salle C306</th>
          <td >{%if data['Lundi-0']['C306'] %} {{data['Lundi-0']['C306']['morning']}}, {{data['Lundi-0']['C306']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Lundi-0']['C306'] %} {{data['Lundi-0']['C306']['noon']}}, {{data['Lundi-0']['C306']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Lundi-1']['C306'] %} {{data['Lundi-1']['C306']['morning']}}, {{data['Lundi-1']['C306']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Lundi-1']['C306'] %} {{data['Lundi-1']['C306']['noon']}}, {{data['Lundi-1']['C306']['invig_noon']}} {% endif %}</td>
          
          <td >{%if data['Mardi-0']['C306'] %} {{data['Mardi-0']['C306']['morning']}}, {{data['Mardi-0']['C306']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mardi-0']['C306'] %} {{data['Mardi-0']['C306']['noon']}}, {{data['Mardi-0']['C306']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Mardi-1']['C306'] %} {{data['Mardi-1']['C306']['morning']}}, {{data['Mardi-1']['C306']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mardi-1']['C306'] %} {{data['Mardi-1']['C306']['noon']}}, {{data['Mardi-1']['C306']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Mercredi-0']['C306'] %} {{data['Mercredi-0']['C306']['morning']}}, {{data['Mercredi-0']['C306']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mercredi-0']['C306'] %} {{data['Mercredi-0']['C306']['noon']}}, {{data['Mercredi-0']['C306']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Mercredi-1']['C306'] %} {{data['Mercredi-1']['C306']['morning']}}, {{data['Mercredi-1']['C306']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mercredi-1']['C306'] %} {{data['Mercredi-1']['C306']['noon']}}, {{data['Mercredi-1']['C306']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Jeudi-0']['C306'] %} {{data['Jeudi-0']['C306']['morning']}}, {{data['Jeudi-0']['C306']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Jeudi-0']['C306'] %} {{data['Jeudi-0']['C306']['noon']}}, {{data['Jeudi-0']['C306']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Jeudi-1']['C306'] %} {{data['Jeudi-1']['C306']['morning']}}, {{data['Jeudi-1']['C306']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Jeudi-1']['C306'] %} {{data['Jeudi-1']['C306']['noon']}}, {{data['Jeudi-1']['C306']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Vendredi-0']['C306'] %} {{data['Vendredi-0']['C306']['morning']}}, {{data['Vendredi-0']['C306']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Vendredi-0']['C306'] %} {{data['Vendredi-0']['C306']['noon']}}, {{data['Vendredi-0']['C306']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Vendredi-1']['C306'] %} {{data['Vendredi-1']['C306']['morning']}}, {{data['Vendredi-1']['C306']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Vendredi-1']['C306'] %} {{data['Vendredi-1']['C306']['noon']}}, {{data['Vendredi-1']['C306']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Samedi-0']['C306'] %} {{data['Samedi-0']['C306']['morning']}}, {{data['Samedi-0']['C306']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Samedi-0']['C306'] %} {{data['Samedi-0']['C306']['noon']}}, {{data['Samedi-0']['C306']['invig_noon']}} {% endif %}</td>
        </tr>


        <tr>
          <th scope="row">Salle C307</th>
          <td >{%if data['Lundi-0']['C307'] %} {{data['Lundi-0']['C307']['morning']}}, {{data['Lundi-0']['C307']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Lundi-0']['C307'] %} {{data['Lundi-0']['C307']['noon']}}, {{data['Lundi-0']['C307']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Lundi-1']['C307'] %} {{data['Lundi-1']['C307']['morning']}}, {{data['Lundi-1']['C307']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Lundi-1']['C307'] %} {{data['Lundi-1']['C307']['noon']}}, {{data['Lundi-1']['C307']['invig_noon']}} {% endif %}</td>
          
          <td >{%if data['Mardi-0']['C307'] %} {{data['Mardi-0']['C307']['morning']}}, {{data['Mardi-0']['C307']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mardi-0']['C307'] %} {{data['Mardi-0']['C307']['noon']}}, {{data['Mardi-0']['C307']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Mardi-1']['C307'] %} {{data['Mardi-1']['C307']['morning']}}, {{data['Mardi-1']['C307']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mardi-1']['C307'] %} {{data['Mardi-1']['C307']['noon']}}, {{data['Mardi-1']['C307']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Mercredi-0']['C307'] %} {{data['Mercredi-0']['C307']['morning']}}, {{data['Mercredi-0']['C307']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mercredi-0']['C307'] %} {{data['Mercredi-0']['C307']['noon']}}, {{data['Mercredi-0']['C307']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Mercredi-1']['C307'] %} {{data['Mercredi-1']['C307']['morning']}}, {{data['Mercredi-1']['C307']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mercredi-1']['C307'] %} {{data['Mercredi-1']['C307']['noon']}}, {{data['Mercredi-1']['C307']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Jeudi-0']['C307'] %} {{data['Jeudi-0']['C307']['morning']}}, {{data['Jeudi-0']['C307']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Jeudi-0']['C307'] %} {{data['Jeudi-0']['C307']['noon']}}, {{data['Jeudi-0']['C307']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Jeudi-1']['C307'] %} {{data['Jeudi-1']['C307']['morning']}}, {{data['Jeudi-1']['C307']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Jeudi-1']['C307'] %} {{data['Jeudi-1']['C307']['noon']}}, {{data['Jeudi-1']['C307']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Vendredi-0']['C307'] %} {{data['Vendredi-0']['C307']['morning']}}, {{data['Vendredi-0']['C307']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Vendredi-0']['C307'] %} {{data['Vendredi-0']['C307']['noon']}}, {{data['Vendredi-0']['C307']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Vendredi-1']['C307'] %} {{data['Vendredi-1']['C307']['morning']}}, {{data['Vendredi-1']['C307']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Vendredi-1']['C307'] %} {{data['Vendredi-1']['C307']['noon']}}, {{data['Vendredi-1']['C307']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Samedi-0']['C307'] %} {{data['Samedi-0']['C307']['morning']}}, {{data['Samedi-0']['C307']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Samedi-0']['C307'] %} {{data['Samedi-0']['C307']['noon']}}, {{data['Samedi-0']['C307']['invig_noon']}} {% endif %}</td>
        </tr>


        <tr>
          <th scope="row">Salle C308</th>
          <td >{%if data['Lundi-0']['C308'] %} {{data['Lundi-0']['C308']['morning']}}, {{data['Lundi-0']['C308']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Lundi-0']['C308'] %} {{data['Lundi-0']['C308']['noon']}}, {{data['Lundi-0']['C308']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Lundi-1']['C308'] %} {{data['Lundi-1']['C308']['morning']}}, {{data['Lundi-1']['C308']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Lundi-1']['C308'] %} {{data['Lundi-1']['C308']['noon']}}, {{data['Lundi-1']['C308']['invig_noon']}} {% endif %}</td>
          
          <td >{%if data['Mardi-0']['C308'] %} {{data['Mardi-0']['C308']['morning']}}, {{data['Mardi-0']['C308']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mardi-0']['C308'] %} {{data['Mardi-0']['C308']['noon']}}, {{data['Mardi-0']['C308']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Mardi-1']['C308'] %} {{data['Mardi-1']['C308']['morning']}}, {{data['Mardi-1']['C308']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mardi-1']['C308'] %} {{data['Mardi-1']['C308']['noon']}}, {{data['Mardi-1']['C308']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Mercredi-0']['C308'] %} {{data['Mercredi-0']['C308']['morning']}}, {{data['Mercredi-0']['C308']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mercredi-0']['C308'] %} {{data['Mercredi-0']['C308']['noon']}}, {{data['Mercredi-0']['C308']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Mercredi-1']['C308'] %} {{data['Mercredi-1']['C308']['morning']}}, {{data['Mercredi-1']['C308']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mercredi-1']['C308'] %} {{data['Mercredi-1']['C308']['noon']}}, {{data['Mercredi-1']['C308']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Jeudi-0']['C308'] %} {{data['Jeudi-0']['C308']['morning']}}, {{data['Jeudi-0']['C308']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Jeudi-0']['C308'] %} {{data['Jeudi-0']['C308']['noon']}}, {{data['Jeudi-0']['C308']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Jeudi-1']['C308'] %} {{data['Jeudi-1']['C308']['morning']}}, {{data['Jeudi-1']['C308']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Jeudi-1']['C308'] %} {{data['Jeudi-1']['C308']['noon']}}, {{data['Jeudi-1']['C308']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Vendredi-0']['C308'] %} {{data['Vendredi-0']['C308']['morning']}}, {{data['Vendredi-0']['C308']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Vendredi-0']['C308'] %} {{data['Vendredi-0']['C308']['noon']}}, {{data['Vendredi-0']['C308']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Vendredi-1']['C308'] %} {{data['Vendredi-1']['C308']['morning']}}, {{data['Vendredi-1']['C308']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Vendredi-1']['C308'] %} {{data['Vendredi-1']['C308']['noon']}}, {{data['Vendredi-1']['C308']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Samedi-0']['C308'] %} {{data['Samedi-0']['C308']['morning']}}, {{data['Samedi-0']['C308']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Samedi-0']['C308'] %} {{data['Samedi-0']['C308']['noon']}}, {{data['Samedi-0']['C308']['invig_noon']}} {% endif %}</td>
        </tr>


        <tr>
          <th scope="row">Salle C309</th>
          <td >{%if data['Lundi-0']['C309'] %} {{data['Lundi-0']['C309']['morning']}}, {{data['Lundi-0']['C309']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Lundi-0']['C309'] %} {{data['Lundi-0']['C309']['noon']}}, {{data['Lundi-0']['C309']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Lundi-1']['C309'] %} {{data['Lundi-1']['C309']['morning']}}, {{data['Lundi-1']['C309']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Lundi-1']['C309'] %} {{data['Lundi-1']['C309']['noon']}}, {{data['Lundi-1']['C309']['invig_noon']}} {% endif %}</td>
          
          <td >{%if data['Mardi-0']['C309'] %} {{data['Mardi-0']['C309']['morning']}}, {{data['Mardi-0']['C309']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mardi-0']['C309'] %} {{data['Mardi-0']['C309']['noon']}}, {{data['Mardi-0']['C309']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Mardi-1']['C309'] %} {{data['Mardi-1']['C309']['morning']}}, {{data['Mardi-1']['C309']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mardi-1']['C309'] %} {{data['Mardi-1']['C309']['noon']}}, {{data['Mardi-1']['C309']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Mercredi-0']['C309'] %} {{data['Mercredi-0']['C309']['morning']}}, {{data['Mercredi-0']['C309']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mercredi-0']['C309'] %} {{data['Mercredi-0']['C309']['noon']}}, {{data['Mercredi-0']['C309']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Mercredi-1']['C309'] %} {{data['Mercredi-1']['C309']['morning']}}, {{data['Mercredi-1']['C309']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Mercredi-1']['C309'] %} {{data['Mercredi-1']['C309']['noon']}}, {{data['Mercredi-1']['C309']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Jeudi-0']['C309'] %} {{data['Jeudi-0']['C309']['morning']}}, {{data['Jeudi-0']['C309']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Jeudi-0']['C309'] %} {{data['Jeudi-0']['C309']['noon']}}, {{data['Jeudi-0']['C309']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Jeudi-1']['C309'] %} {{data['Jeudi-1']['C309']['morning']}}, {{data['Jeudi-1']['C309']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Jeudi-1']['C309'] %} {{data['Jeudi-1']['C309']['noon']}}, {{data['Jeudi-1']['C309']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Vendredi-0']['C309'] %} {{data['Vendredi-0']['C309']['morning']}}, {{data['Vendredi-0']['C309']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Vendredi-0']['C309'] %} {{data['Vendredi-0']['C309']['noon']}}, {{data['Vendredi-0']['C309']['invig_noon']}} {% endif %}</td>
          <td >{%if data['Vendredi-1']['C309'] %} {{data['Vendredi-1']['C309']['morning']}}, {{data['Vendredi-1']['C309']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Vendredi-1']['C309'] %} {{data['Vendredi-1']['C309']['noon']}}, {{data['Vendredi-1']['C309']['invig_noon']}} {% endif %}</td>

          <td >{%if data['Samedi-0']['C309'] %} {{data['Samedi-0']['C309']['morning']}}, {{data['Samedi-0']['C309']['invig_morning']}} {% endif %}</td>
          <td >{%if data['Samedi-0']['C309'] %} {{data['Samedi-0']['C309']['noon']}}, {{data['Samedi-0']['C309']['invig_noon']}} {% endif %}</td>
        </tr>
        
      </tbody>
    </table>
</body>
</html>