<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed layout-compact"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="{{ url_for('static', filename='assets') }}"
  data-template="vertical-menu-template-free">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Planification des Examens</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/download.png') }}"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet" />

      <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/fonts/boxicons.css') }}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/css/core.css') }}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/css/theme-default.css') }}"  class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/css/demo.css') }}"  />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css') }}"  />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/libs/apex-charts/apex-charts.css') }}"  />


    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="{{ url_for('static', filename='assets/vendor/js/helpers.js') }}" ></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{{ url_for('static', filename='assets/js/config.js') }}" ></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_cal.css') }}">

  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="index.html" class="app-brand-link">
             
              <img src="{{ url_for('static', filename='images/download.png') }}" />
              <span class="app-brand-text demo menu-text fw-bold ms-2">e-polytechnique</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboards -->
            <li class="menu-item">
              <a href="/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Dashboards">Tableau de bord</div>
                <div class="badge bg-danger rounded-pill ms-auto">5</div>
              </a>
            </li>
            <li class="menu-item">
              <a
                href="/planning"
                class="menu-link">
                <i class="menu-icon tf-icons bx bx-list-check"></i>
                <div data-i18n="Form Validation">Planification d'un examen</div>
              </a>
            </li>
            <li class="menu-item active open">
              <a
                href="/cal"
                class="menu-link">
                <i class="menu-icon tf-icons bx bx-calendar"></i>
                <div data-i18n="Calendar">Calendrier</div>
              </a>
            </li>
            <li class="menu-item">
    
          </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar">
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Search -->
              <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                  <i class="bx bx-search fs-4 lh-0"></i>
                  <input
                    type="text"
                    class="form-control border-0 shadow-none ps-1 ps-sm-2"
                    placeholder="Search..."
                    aria-label="Search..." />
                </div>
              </div>
              <!-- /Search -->

              <ul class="navbar-nav flex-row align-items-center ms-auto">               

                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img src="{{ url_for('static', filename='assets/img/avatars/1.png') }}" alt class="w-px-40 h-auto rounded-circle" />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img src="{{ url_for('static', filename='assets/img/avatars/1.png') }}" alt class="w-px-40 h-auto rounded-circle" />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-medium d-block">John Doe</span>
                            <small class="text-muted">Admin</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="/login">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Log Out</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
                <h4 class="py-3 mb-4"><span class="text-muted fw-light">Examens /</span> Calendrier</h4>
  
                <div class="row">
                    <div class="col-12">
                    <button type="button" class="btn rounded-pill btn-success"><a href="/download_pdf"  style="color: #ffffff;;">Télécharger au format PDF</a></button>
                    <button type="submit" class="btn rounded-pill btn-info"><a href="/calendar_full" style="color: #ffffff;;">Voir le calendrier complet</a></button>
                    </div>
                    <div class="col-12"><br></div>
  
                  <!-- Vertical & Horizontal Scrollbars -->
                  <div class="col-12">
                    <div class="card overflow-hidden" style="height: 500px">
                      <div class="card-body" id="both-scrollbars-example">
                        <table class="responsive-table">
                            <caption>Calendrier</caption>
                            <thead>
                                <tr>
                                <th scope="col"></th>
                                <th scope="col"  colspan="4">Lundi</th>
                                <th scope="col"  colspan="4">Mardi</th>
                                <th scope="col"  colspan="4">Mercredi</th>
                                <th scope="col"  colspan="4">Jeudi</th>
                                <th scope="col"  colspan="4">Vendredi</th>
                                <th scope="col"  colspan="2">Samedi</th>
                                </tr>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">09h00 10h30</th>
                                    <th scope="col">11h00 12h30</th>
                                    <th scope="col">15h00 16h30</th>
                                    <th scope="col">17h00 18h30</th>
                                    <th scope="col">09h00 10h30</th>
                                    <th scope="col">11h00 12h30</th>
                                    <th scope="col">15h00 16h30</th>
                                    <th scope="col">17h00 18h30</th>
                                    <th scope="col">09h00 10h30</th>
                                    <th scope="col">11h00 12h30</th>
                                    <th scope="col">15h00 16h30</th>
                                    <th scope="col">17h00 18h30</th>
                                    <th scope="col">09h00 10h30</th>
                                    <th scope="col">11h00 12h30</th>
                                    <th scope="col">15h00 16h30</th>
                                    <th scope="col">17h00 18h30</th>
                                    <th scope="col">09h00 10h30</th>
                                    <th scope="col">11h00 12h30</th>
                                    <th scope="col">15h00 16h30</th>
                                    <th scope="col">17h00 18h30</th>
                                    <th scope="col">09h00 10h30</th>
                                    <th scope="col">11h00 12h30</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <th scope="row">Salle C301</th>
                                <td >{%if data['Lundi-0']['C301'] %} {{data['Lundi-0']['C301']['morning']}}, {{data['Lundi-0']['C301']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Lundi-0']['C301'] %} {{data['Lundi-0']['C301']['noon']}}, {{data['Lundi-0']['C301']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Lundi-1']['C301'] %} {{data['Lundi-1']['C301']['morning']}}, {{data['Lundi-1']['C301']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Lundi-1']['C301'] %} {{data['Lundi-1']['C301']['noon']}}, {{data['Lundi-1']['C301']['invig_noon']}} {% endif %}</td>
                                
                                <td >{%if data['Mardi-0']['C301'] %} {{data['Mardi-0']['C301']['morning']}}, {{data['Mardi-0']['C301']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mardi-0']['C301'] %} {{data['Mardi-0']['C301']['noon']}}, {{data['Mardi-0']['C301']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Mardi-1']['C301'] %} {{data['Mardi-1']['C301']['morning']}}, {{data['Mardi-1']['C301']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mardi-1']['C301'] %} {{data['Mardi-1']['C301']['noon']}}, {{data['Mardi-1']['C301']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Mercredi-0']['C301'] %} {{data['Mercredi-0']['C301']['morning']}}, {{data['Mercredi-0']['C301']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mercredi-0']['C301'] %} {{data['Mercredi-0']['C301']['noon']}}, {{data['Mercredi-0']['C301']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Mercredi-1']['C301'] %} {{data['Mercredi-1']['C301']['morning']}}, {{data['Mercredi-1']['C301']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mercredi-1']['C301'] %} {{data['Mercredi-1']['C301']['noon']}}, {{data['Mercredi-1']['C301']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Jeudi-0']['C301'] %} {{data['Jeudi-0']['C301']['morning']}}, {{data['Jeudi-0']['C301']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Jeudi-0']['C301'] %} {{data['Jeudi-0']['C301']['noon']}}, {{data['Jeudi-0']['C301']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Jeudi-1']['C301'] %} {{data['Jeudi-1']['C301']['morning']}}, {{data['Jeudi-1']['C301']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Jeudi-1']['C301'] %} {{data['Jeudi-1']['C301']['noon']}}, {{data['Jeudi-1']['C301']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Vendredi-0']['C301'] %} {{data['Vendredi-0']['C301']['morning']}}, {{data['Vendredi-0']['C301']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Vendredi-0']['C301'] %} {{data['Vendredi-0']['C301']['noon']}}, {{data['Vendredi-0']['C301']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Vendredi-1']['C301'] %} {{data['Vendredi-1']['C301']['morning']}}, {{data['Vendredi-1']['C301']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Vendredi-1']['C301'] %} {{data['Vendredi-1']['C301']['noon']}}, {{data['Vendredi-1']['C301']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Samedi-0']['C301'] %} {{data['Samedi-0']['C301']['morning']}}, {{data['Samedi-0']['C301']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Samedi-0']['C301'] %} {{data['Samedi-0']['C301']['noon']}}, {{data['Samedi-0']['C301']['invig_noon']}} {% endif %}</td>
                                </tr>
                        
                        
                                <tr>
                                <th scope="row">Salle C302</th>
                                <td >{%if data['Lundi-0']['C302'] %} {{data['Lundi-0']['C302']['morning']}}, {{data['Lundi-0']['C302']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Lundi-0']['C302'] %} {{data['Lundi-0']['C302']['noon']}}, {{data['Lundi-0']['C302']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Lundi-1']['C302'] %} {{data['Lundi-1']['C302']['morning']}}, {{data['Lundi-1']['C302']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Lundi-1']['C302'] %} {{data['Lundi-1']['C302']['noon']}}, {{data['Lundi-1']['C302']['invig_noon']}} {% endif %}</td>
                                
                                <td >{%if data['Mardi-0']['C302'] %} {{data['Mardi-0']['C302']['morning']}}, {{data['Mardi-0']['C302']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mardi-0']['C302'] %} {{data['Mardi-0']['C302']['noon']}}, {{data['Mardi-0']['C302']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Mardi-1']['C302'] %} {{data['Mardi-1']['C302']['morning']}}, {{data['Mardi-1']['C302']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mardi-1']['C302'] %} {{data['Mardi-1']['C302']['noon']}}, {{data['Mardi-1']['C302']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Mercredi-0']['C302'] %} {{data['Mercredi-0']['C302']['morning']}}, {{data['Mercredi-0']['C302']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mercredi-0']['C302'] %} {{data['Mercredi-0']['C302']['noon']}}, {{data['Mercredi-0']['C302']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Mercredi-1']['C302'] %} {{data['Mercredi-1']['C302']['morning']}}, {{data['Mercredi-1']['C302']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mercredi-1']['C302'] %} {{data['Mercredi-1']['C302']['noon']}}, {{data['Mercredi-1']['C302']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Jeudi-0']['C302'] %} {{data['Jeudi-0']['C302']['morning']}}, {{data['Jeudi-0']['C302']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Jeudi-0']['C302'] %} {{data['Jeudi-0']['C302']['noon']}}, {{data['Jeudi-0']['C302']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Jeudi-1']['C302'] %} {{data['Jeudi-1']['C302']['morning']}}, {{data['Jeudi-1']['C302']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Jeudi-1']['C302'] %} {{data['Jeudi-1']['C302']['noon']}}, {{data['Jeudi-1']['C302']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Vendredi-0']['C302'] %} {{data['Vendredi-0']['C302']['morning']}}, {{data['Vendredi-0']['C302']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Vendredi-0']['C302'] %} {{data['Vendredi-0']['C302']['noon']}}, {{data['Vendredi-0']['C302']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Vendredi-1']['C302'] %} {{data['Vendredi-1']['C302']['morning']}}, {{data['Vendredi-1']['C302']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Vendredi-1']['C302'] %} {{data['Vendredi-1']['C302']['noon']}}, {{data['Vendredi-1']['C302']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Samedi-0']['C302'] %} {{data['Samedi-0']['C302']['morning']}}, {{data['Samedi-0']['C302']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Samedi-0']['C302'] %} {{data['Samedi-0']['C302']['noon']}}, {{data['Samedi-0']['C302']['invig_noon']}} {% endif %}</td>
                                </tr>
                        
                                <tr>
                                <th scope="row">Salle C303</th>
                                <td >{%if data['Lundi-0']['C303'] %} {{data['Lundi-0']['C303']['morning']}}, {{data['Lundi-0']['C303']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Lundi-0']['C303'] %} {{data['Lundi-0']['C303']['noon']}}, {{data['Lundi-0']['C303']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Lundi-1']['C303'] %} {{data['Lundi-1']['C303']['morning']}}, {{data['Lundi-1']['C303']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Lundi-1']['C303'] %} {{data['Lundi-1']['C303']['noon']}}, {{data['Lundi-1']['C303']['invig_noon']}} {% endif %}</td>
                                
                                <td >{%if data['Mardi-0']['C303'] %} {{data['Mardi-0']['C303']['morning']}}, {{data['Mardi-0']['C303']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mardi-0']['C303'] %} {{data['Mardi-0']['C303']['noon']}}, {{data['Mardi-0']['C303']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Mardi-1']['C303'] %} {{data['Mardi-1']['C303']['morning']}}, {{data['Mardi-1']['C303']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mardi-1']['C303'] %} {{data['Mardi-1']['C303']['noon']}}, {{data['Mardi-1']['C303']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Mercredi-0']['C303'] %} {{data['Mercredi-0']['C303']['morning']}}, {{data['Mercredi-0']['C303']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mercredi-0']['C303'] %} {{data['Mercredi-0']['C303']['noon']}}, {{data['Mercredi-0']['C303']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Mercredi-1']['C303'] %} {{data['Mercredi-1']['C303']['morning']}}, {{data['Mercredi-1']['C303']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mercredi-1']['C303'] %} {{data['Mercredi-1']['C303']['noon']}}, {{data['Mercredi-1']['C303']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Jeudi-0']['C303'] %} {{data['Jeudi-0']['C303']['morning']}}, {{data['Jeudi-0']['C303']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Jeudi-0']['C303'] %} {{data['Jeudi-0']['C303']['noon']}}, {{data['Jeudi-0']['C303']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Jeudi-1']['C303'] %} {{data['Jeudi-1']['C303']['morning']}}, {{data['Jeudi-1']['C303']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Jeudi-1']['C303'] %} {{data['Jeudi-1']['C303']['noon']}}, {{data['Jeudi-1']['C303']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Vendredi-0']['C303'] %} {{data['Vendredi-0']['C303']['morning']}}, {{data['Vendredi-0']['C303']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Vendredi-0']['C303'] %} {{data['Vendredi-0']['C303']['noon']}}, {{data['Vendredi-0']['C303']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Vendredi-1']['C303'] %} {{data['Vendredi-1']['C303']['morning']}}, {{data['Vendredi-1']['C303']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Vendredi-1']['C303'] %} {{data['Vendredi-1']['C303']['noon']}}, {{data['Vendredi-1']['C303']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Samedi-0']['C303'] %} {{data['Samedi-0']['C303']['morning']}}, {{data['Samedi-0']['C303']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Samedi-0']['C303'] %} {{data['Samedi-0']['C303']['noon']}}, {{data['Samedi-0']['C303']['invig_noon']}} {% endif %}</td>
                                </tr>
                        
                        
                                <tr>
                                <th scope="row">Salle C304</th>
                                <td >{%if data['Lundi-0']['C304'] %} {{data['Lundi-0']['C304']['morning']}}, {{data['Lundi-0']['C304']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Lundi-0']['C304'] %} {{data['Lundi-0']['C304']['noon']}}, {{data['Lundi-0']['C304']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Lundi-1']['C304'] %} {{data['Lundi-1']['C304']['morning']}}, {{data['Lundi-1']['C304']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Lundi-1']['C304'] %} {{data['Lundi-1']['C304']['noon']}}, {{data['Lundi-1']['C304']['invig_noon']}} {% endif %}</td>
                                
                                <td >{%if data['Mardi-0']['C304'] %} {{data['Mardi-0']['C304']['morning']}}, {{data['Mardi-0']['C304']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mardi-0']['C304'] %} {{data['Mardi-0']['C304']['noon']}}, {{data['Mardi-0']['C304']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Mardi-1']['C304'] %} {{data['Mardi-1']['C304']['morning']}}, {{data['Mardi-1']['C304']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mardi-1']['C304'] %} {{data['Mardi-1']['C304']['noon']}}, {{data['Mardi-1']['C304']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Mercredi-0']['C304'] %} {{data['Mercredi-0']['C304']['morning']}}, {{data['Mercredi-0']['C304']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mercredi-0']['C304'] %} {{data['Mercredi-0']['C304']['noon']}}, {{data['Mercredi-0']['C304']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Mercredi-1']['C304'] %} {{data['Mercredi-1']['C304']['morning']}}, {{data['Mercredi-1']['C304']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mercredi-1']['C304'] %} {{data['Mercredi-1']['C304']['noon']}}, {{data['Mercredi-1']['C304']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Jeudi-0']['C304'] %} {{data['Jeudi-0']['C304']['morning']}}, {{data['Jeudi-0']['C304']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Jeudi-0']['C304'] %} {{data['Jeudi-0']['C304']['noon']}}, {{data['Jeudi-0']['C304']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Jeudi-1']['C304'] %} {{data['Jeudi-1']['C304']['morning']}}, {{data['Jeudi-1']['C304']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Jeudi-1']['C304'] %} {{data['Jeudi-1']['C304']['noon']}}, {{data['Jeudi-1']['C304']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Vendredi-0']['C304'] %} {{data['Vendredi-0']['C304']['morning']}}, {{data['Vendredi-0']['C304']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Vendredi-0']['C304'] %} {{data['Vendredi-0']['C304']['noon']}}, {{data['Vendredi-0']['C304']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Vendredi-1']['C304'] %} {{data['Vendredi-1']['C304']['morning']}}, {{data['Vendredi-1']['C304']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Vendredi-1']['C304'] %} {{data['Vendredi-1']['C304']['noon']}}, {{data['Vendredi-1']['C304']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Samedi-0']['C304'] %} {{data['Samedi-0']['C304']['morning']}}, {{data['Samedi-0']['C304']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Samedi-0']['C304'] %} {{data['Samedi-0']['C304']['noon']}}, {{data['Samedi-0']['C304']['invig_noon']}} {% endif %}</td>
                                </tr>
                        
                        
                                <tr>
                                <th scope="row">Salle C305</th>
                                <td >{%if data['Lundi-0']['C305'] %} {{data['Lundi-0']['C305']['morning']}}, {{data['Lundi-0']['C305']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Lundi-0']['C305'] %} {{data['Lundi-0']['C305']['noon']}}, {{data['Lundi-0']['C305']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Lundi-1']['C305'] %} {{data['Lundi-1']['C305']['morning']}}, {{data['Lundi-1']['C305']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Lundi-1']['C305'] %} {{data['Lundi-1']['C305']['noon']}}, {{data['Lundi-1']['C305']['invig_noon']}} {% endif %}</td>
                                
                                <td >{%if data['Mardi-0']['C305'] %} {{data['Mardi-0']['C305']['morning']}}, {{data['Mardi-0']['C305']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mardi-0']['C305'] %} {{data['Mardi-0']['C305']['noon']}}, {{data['Mardi-0']['C305']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Mardi-1']['C305'] %} {{data['Mardi-1']['C305']['morning']}}, {{data['Mardi-1']['C305']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mardi-1']['C305'] %} {{data['Mardi-1']['C305']['noon']}}, {{data['Mardi-1']['C305']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Mercredi-0']['C305'] %} {{data['Mercredi-0']['C305']['morning']}}, {{data['Mercredi-0']['C305']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mercredi-0']['C305'] %} {{data['Mercredi-0']['C305']['noon']}}, {{data['Mercredi-0']['C305']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Mercredi-1']['C305'] %} {{data['Mercredi-1']['C305']['morning']}}, {{data['Mercredi-1']['C305']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mercredi-1']['C305'] %} {{data['Mercredi-1']['C305']['noon']}}, {{data['Mercredi-1']['C305']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Jeudi-0']['C305'] %} {{data['Jeudi-0']['C305']['morning']}}, {{data['Jeudi-0']['C305']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Jeudi-0']['C305'] %} {{data['Jeudi-0']['C305']['noon']}}, {{data['Jeudi-0']['C305']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Jeudi-1']['C305'] %} {{data['Jeudi-1']['C305']['morning']}}, {{data['Jeudi-1']['C305']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Jeudi-1']['C305'] %} {{data['Jeudi-1']['C305']['noon']}}, {{data['Jeudi-1']['C305']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Vendredi-0']['C305'] %} {{data['Vendredi-0']['C305']['morning']}}, {{data['Vendredi-0']['C305']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Vendredi-0']['C305'] %} {{data['Vendredi-0']['C305']['noon']}}, {{data['Vendredi-0']['C305']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Vendredi-1']['C305'] %} {{data['Vendredi-1']['C305']['morning']}}, {{data['Vendredi-1']['C305']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Vendredi-1']['C305'] %} {{data['Vendredi-1']['C305']['noon']}}, {{data['Vendredi-1']['C305']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Samedi-0']['C305'] %} {{data['Samedi-0']['C305']['morning']}}, {{data['Samedi-0']['C305']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Samedi-0']['C305'] %} {{data['Samedi-0']['C305']['noon']}}, {{data['Samedi-0']['C305']['invig_noon']}} {% endif %}</td>
                                </tr>
                        
                        
                                <tr>
                                <th scope="row">Salle C306</th>
                                <td >{%if data['Lundi-0']['C306'] %} {{data['Lundi-0']['C306']['morning']}}, {{data['Lundi-0']['C306']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Lundi-0']['C306'] %} {{data['Lundi-0']['C306']['noon']}}, {{data['Lundi-0']['C306']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Lundi-1']['C306'] %} {{data['Lundi-1']['C306']['morning']}}, {{data['Lundi-1']['C306']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Lundi-1']['C306'] %} {{data['Lundi-1']['C306']['noon']}}, {{data['Lundi-1']['C306']['invig_noon']}} {% endif %}</td>
                                
                                <td >{%if data['Mardi-0']['C306'] %} {{data['Mardi-0']['C306']['morning']}}, {{data['Mardi-0']['C306']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mardi-0']['C306'] %} {{data['Mardi-0']['C306']['noon']}}, {{data['Mardi-0']['C306']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Mardi-1']['C306'] %} {{data['Mardi-1']['C306']['morning']}}, {{data['Mardi-1']['C306']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mardi-1']['C306'] %} {{data['Mardi-1']['C306']['noon']}}, {{data['Mardi-1']['C306']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Mercredi-0']['C306'] %} {{data['Mercredi-0']['C306']['morning']}}, {{data['Mercredi-0']['C306']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mercredi-0']['C306'] %} {{data['Mercredi-0']['C306']['noon']}}, {{data['Mercredi-0']['C306']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Mercredi-1']['C306'] %} {{data['Mercredi-1']['C306']['morning']}}, {{data['Mercredi-1']['C306']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mercredi-1']['C306'] %} {{data['Mercredi-1']['C306']['noon']}}, {{data['Mercredi-1']['C306']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Jeudi-0']['C306'] %} {{data['Jeudi-0']['C306']['morning']}}, {{data['Jeudi-0']['C306']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Jeudi-0']['C306'] %} {{data['Jeudi-0']['C306']['noon']}}, {{data['Jeudi-0']['C306']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Jeudi-1']['C306'] %} {{data['Jeudi-1']['C306']['morning']}}, {{data['Jeudi-1']['C306']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Jeudi-1']['C306'] %} {{data['Jeudi-1']['C306']['noon']}}, {{data['Jeudi-1']['C306']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Vendredi-0']['C306'] %} {{data['Vendredi-0']['C306']['morning']}}, {{data['Vendredi-0']['C306']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Vendredi-0']['C306'] %} {{data['Vendredi-0']['C306']['noon']}}, {{data['Vendredi-0']['C306']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Vendredi-1']['C306'] %} {{data['Vendredi-1']['C306']['morning']}}, {{data['Vendredi-1']['C306']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Vendredi-1']['C306'] %} {{data['Vendredi-1']['C306']['noon']}}, {{data['Vendredi-1']['C306']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Samedi-0']['C306'] %} {{data['Samedi-0']['C306']['morning']}}, {{data['Samedi-0']['C306']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Samedi-0']['C306'] %} {{data['Samedi-0']['C306']['noon']}}, {{data['Samedi-0']['C306']['invig_noon']}} {% endif %}</td>
                                </tr>
                        
                        
                                <tr>
                                <th scope="row">Salle C307</th>
                                <td >{%if data['Lundi-0']['C307'] %} {{data['Lundi-0']['C307']['morning']}}, {{data['Lundi-0']['C307']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Lundi-0']['C307'] %} {{data['Lundi-0']['C307']['noon']}}, {{data['Lundi-0']['C307']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Lundi-1']['C307'] %} {{data['Lundi-1']['C307']['morning']}}, {{data['Lundi-1']['C307']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Lundi-1']['C307'] %} {{data['Lundi-1']['C307']['noon']}}, {{data['Lundi-1']['C307']['invig_noon']}} {% endif %}</td>
                                
                                <td >{%if data['Mardi-0']['C307'] %} {{data['Mardi-0']['C307']['morning']}}, {{data['Mardi-0']['C307']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mardi-0']['C307'] %} {{data['Mardi-0']['C307']['noon']}}, {{data['Mardi-0']['C307']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Mardi-1']['C307'] %} {{data['Mardi-1']['C307']['morning']}}, {{data['Mardi-1']['C307']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mardi-1']['C307'] %} {{data['Mardi-1']['C307']['noon']}}, {{data['Mardi-1']['C307']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Mercredi-0']['C307'] %} {{data['Mercredi-0']['C307']['morning']}}, {{data['Mercredi-0']['C307']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mercredi-0']['C307'] %} {{data['Mercredi-0']['C307']['noon']}}, {{data['Mercredi-0']['C307']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Mercredi-1']['C307'] %} {{data['Mercredi-1']['C307']['morning']}}, {{data['Mercredi-1']['C307']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mercredi-1']['C307'] %} {{data['Mercredi-1']['C307']['noon']}}, {{data['Mercredi-1']['C307']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Jeudi-0']['C307'] %} {{data['Jeudi-0']['C307']['morning']}}, {{data['Jeudi-0']['C307']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Jeudi-0']['C307'] %} {{data['Jeudi-0']['C307']['noon']}}, {{data['Jeudi-0']['C307']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Jeudi-1']['C307'] %} {{data['Jeudi-1']['C307']['morning']}}, {{data['Jeudi-1']['C307']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Jeudi-1']['C307'] %} {{data['Jeudi-1']['C307']['noon']}}, {{data['Jeudi-1']['C307']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Vendredi-0']['C307'] %} {{data['Vendredi-0']['C307']['morning']}}, {{data['Vendredi-0']['C307']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Vendredi-0']['C307'] %} {{data['Vendredi-0']['C307']['noon']}}, {{data['Vendredi-0']['C307']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Vendredi-1']['C307'] %} {{data['Vendredi-1']['C307']['morning']}}, {{data['Vendredi-1']['C307']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Vendredi-1']['C307'] %} {{data['Vendredi-1']['C307']['noon']}}, {{data['Vendredi-1']['C307']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Samedi-0']['C307'] %} {{data['Samedi-0']['C307']['morning']}}, {{data['Samedi-0']['C307']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Samedi-0']['C307'] %} {{data['Samedi-0']['C307']['noon']}}, {{data['Samedi-0']['C307']['invig_noon']}} {% endif %}</td>
                                </tr>
                        
                        
                                <tr>
                                <th scope="row">Salle C308</th>
                                <td >{%if data['Lundi-0']['C308'] %} {{data['Lundi-0']['C308']['morning']}}, {{data['Lundi-0']['C308']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Lundi-0']['C308'] %} {{data['Lundi-0']['C308']['noon']}}, {{data['Lundi-0']['C308']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Lundi-1']['C308'] %} {{data['Lundi-1']['C308']['morning']}}, {{data['Lundi-1']['C308']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Lundi-1']['C308'] %} {{data['Lundi-1']['C308']['noon']}}, {{data['Lundi-1']['C308']['invig_noon']}} {% endif %}</td>
                                
                                <td >{%if data['Mardi-0']['C308'] %} {{data['Mardi-0']['C308']['morning']}}, {{data['Mardi-0']['C308']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mardi-0']['C308'] %} {{data['Mardi-0']['C308']['noon']}}, {{data['Mardi-0']['C308']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Mardi-1']['C308'] %} {{data['Mardi-1']['C308']['morning']}}, {{data['Mardi-1']['C308']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mardi-1']['C308'] %} {{data['Mardi-1']['C308']['noon']}}, {{data['Mardi-1']['C308']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Mercredi-0']['C308'] %} {{data['Mercredi-0']['C308']['morning']}}, {{data['Mercredi-0']['C308']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mercredi-0']['C308'] %} {{data['Mercredi-0']['C308']['noon']}}, {{data['Mercredi-0']['C308']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Mercredi-1']['C308'] %} {{data['Mercredi-1']['C308']['morning']}}, {{data['Mercredi-1']['C308']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mercredi-1']['C308'] %} {{data['Mercredi-1']['C308']['noon']}}, {{data['Mercredi-1']['C308']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Jeudi-0']['C308'] %} {{data['Jeudi-0']['C308']['morning']}}, {{data['Jeudi-0']['C308']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Jeudi-0']['C308'] %} {{data['Jeudi-0']['C308']['noon']}}, {{data['Jeudi-0']['C308']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Jeudi-1']['C308'] %} {{data['Jeudi-1']['C308']['morning']}}, {{data['Jeudi-1']['C308']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Jeudi-1']['C308'] %} {{data['Jeudi-1']['C308']['noon']}}, {{data['Jeudi-1']['C308']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Vendredi-0']['C308'] %} {{data['Vendredi-0']['C308']['morning']}}, {{data['Vendredi-0']['C308']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Vendredi-0']['C308'] %} {{data['Vendredi-0']['C308']['noon']}}, {{data['Vendredi-0']['C308']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Vendredi-1']['C308'] %} {{data['Vendredi-1']['C308']['morning']}}, {{data['Vendredi-1']['C308']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Vendredi-1']['C308'] %} {{data['Vendredi-1']['C308']['noon']}}, {{data['Vendredi-1']['C308']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Samedi-0']['C308'] %} {{data['Samedi-0']['C308']['morning']}}, {{data['Samedi-0']['C308']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Samedi-0']['C308'] %} {{data['Samedi-0']['C308']['noon']}}, {{data['Samedi-0']['C308']['invig_noon']}} {% endif %}</td>
                                </tr>
                        
                        
                                <tr>
                                <th scope="row">Salle C309</th>
                                <td >{%if data['Lundi-0']['C309'] %} {{data['Lundi-0']['C309']['morning']}}, {{data['Lundi-0']['C309']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Lundi-0']['C309'] %} {{data['Lundi-0']['C309']['noon']}}, {{data['Lundi-0']['C309']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Lundi-1']['C309'] %} {{data['Lundi-1']['C309']['morning']}}, {{data['Lundi-1']['C309']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Lundi-1']['C309'] %} {{data['Lundi-1']['C309']['noon']}}, {{data['Lundi-1']['C309']['invig_noon']}} {% endif %}</td>
                                
                                <td >{%if data['Mardi-0']['C309'] %} {{data['Mardi-0']['C309']['morning']}}, {{data['Mardi-0']['C309']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mardi-0']['C309'] %} {{data['Mardi-0']['C309']['noon']}}, {{data['Mardi-0']['C309']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Mardi-1']['C309'] %} {{data['Mardi-1']['C309']['morning']}}, {{data['Mardi-1']['C309']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mardi-1']['C309'] %} {{data['Mardi-1']['C309']['noon']}}, {{data['Mardi-1']['C309']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Mercredi-0']['C309'] %} {{data['Mercredi-0']['C309']['morning']}}, {{data['Mercredi-0']['C309']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mercredi-0']['C309'] %} {{data['Mercredi-0']['C309']['noon']}}, {{data['Mercredi-0']['C309']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Mercredi-1']['C309'] %} {{data['Mercredi-1']['C309']['morning']}}, {{data['Mercredi-1']['C309']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Mercredi-1']['C309'] %} {{data['Mercredi-1']['C309']['noon']}}, {{data['Mercredi-1']['C309']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Jeudi-0']['C309'] %} {{data['Jeudi-0']['C309']['morning']}}, {{data['Jeudi-0']['C309']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Jeudi-0']['C309'] %} {{data['Jeudi-0']['C309']['noon']}}, {{data['Jeudi-0']['C309']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Jeudi-1']['C309'] %} {{data['Jeudi-1']['C309']['morning']}}, {{data['Jeudi-1']['C309']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Jeudi-1']['C309'] %} {{data['Jeudi-1']['C309']['noon']}}, {{data['Jeudi-1']['C309']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Vendredi-0']['C309'] %} {{data['Vendredi-0']['C309']['morning']}}, {{data['Vendredi-0']['C309']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Vendredi-0']['C309'] %} {{data['Vendredi-0']['C309']['noon']}}, {{data['Vendredi-0']['C309']['invig_noon']}} {% endif %}</td>
                                <td >{%if data['Vendredi-1']['C309'] %} {{data['Vendredi-1']['C309']['morning']}}, {{data['Vendredi-1']['C309']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Vendredi-1']['C309'] %} {{data['Vendredi-1']['C309']['noon']}}, {{data['Vendredi-1']['C309']['invig_noon']}} {% endif %}</td>
                        
                                <td >{%if data['Samedi-0']['C309'] %} {{data['Samedi-0']['C309']['morning']}}, {{data['Samedi-0']['C309']['invig_morning']}} {% endif %}</td>
                                <td >{%if data['Samedi-0']['C309'] %} {{data['Samedi-0']['C309']['noon']}}, {{data['Samedi-0']['C309']['invig_noon']}} {% endif %}</td>
                                </tr>
                        
                         </tbody>
                         </table>                      </div>
                    </div>
                  </div>
                  <!--/ Vertical & Horizontal Scrollbars -->
                </div>
              </div>

      


            <!-- / Content -->


            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->


    <!-- build:js assets/vendor/js/core.js -->

    <script src="{{ url_for('static', filename='assets/vendor/libs/jquery/jquery.js') }}"  ></script>
    <script src="{{ url_for('static', filename='assets/vendor/libs/popper/popper.js') }}" ></script>
    <script src="{{ url_for('static', filename='assets/vendor/js/bootstrap.js') }}"  ></script>
    <script src="{{ url_for('static', filename='assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/js/menu.js') }}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="{{ url_for('static', filename='assets/vendor/libs/apex-charts/apexcharts.js') }}"  ></script>


    <!-- Main JS -->
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"  ></script>

    <!-- Page JS -->
    <script src="{{ url_for('static', filename='assets/js/dashboards-analytics.js') }}"  ></script>

    <script src="{{ url_for('static', filename='assets/js/extended-ui-perfect-scrollbar.js') }}"></script>



    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
