<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Planification des Examens</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <header>
        <div class="container" style="background-color: yellow;">
            <h1>Planification des Examens</h1>
        </div>
    </header>
    
    <section class="upload-section">
        <div class="container">
            <h2 style="text-align: center;">La génération est effectuée avec succès</h2>
           
        </div>
    </section>

</body>
</html>
